In [1]:
# Importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import joblib

In [2]:

data = pd.read_csv('Heartbeat.csv')

data

     Gender  Height  Weight  year  Age  BPM   Medication
0         1     167      71  1947   53   55     Atropine
1         2     171      61  1940   60   70          Nil
2         1     167      80  1951   49  140  Propranolol
3         1     168      77  1946   54   43     Atropine
4         2     183      95  1949   51  150  Propranolol
..      ...     ...     ...   ...  ...  ...          ...
194       2     158      88  1962   38  167  Propranolol
195       1     165      53  1943   57   66          Nil
196       2     165      65  1952   48   38     Atropine
197       1     170      99  1950   50  168  Propranolol
198       2     168     100  1959   41   67          Nil

[199 rows x 7 columns]

In [3]:
X=data[['BPM','Age']]
X

     BPM  Age
0     55   53
1     70   60
2    140   49
3     43   54
4    150   51
..   ...  ...
194  167   38
195   66   57
196   38   48
197  168   50
198   67   41

[199 rows x 2 columns]

In [4]:
Y=data[['Medication']]
Y

      Medication
0       Atropine
1            Nil
2    Propranolol
3       Atropine
4    Propranolol
..           ...
194  Propranolol
195          Nil
196     Atropine
197  Propranolol
198          Nil

[199 rows x 1 columns]

In [5]:

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Standardize the features
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Encode the target variable
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

c:\Users\bhara\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\bhara\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [6]:
import pickle


# Save the StandardScaler object
with open('Heartbeatscaler.pkl', 'wb') as file:
    pickle.dump(sc, file)

# Save the LabelEncoder object
with open('Heartbeat_label_encoder.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)

In [7]:
# Initialize the SVM classifier
svm = SVC(kernel='linear', C=1.0, random_state=42)

# Train the SVM classifier
svm.fit(X_train_std, y_train_encoded)

# Predict the labels of the test set
y_pred_encoded = svm.predict(X_test_std)

# Calculate accuracy
accuracy = accuracy_score(y_test_encoded, y_pred_encoded)
print("Accuracy:", accuracy)

Accuracy: 0.95

In [8]:
y_pred_encoded

array([1, 1, 2, 2, 0, 2, 0, 1, 0, 1, 1, 2, 2, 1, 0, 1, 1, 1, 2, 1, 1, 2,
       2, 2, 2, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 2, 2])

In [9]:
predicted_class_decoded = label_encoder.inverse_transform(y_pred_encoded)
predicted_class_decoded

array(['Nil', 'Nil', 'Propranolol', 'Propranolol', 'Atropine',
       'Propranolol', 'Atropine', 'Nil', 'Atropine', 'Nil', 'Nil',
       'Propranolol', 'Propranolol', 'Nil', 'Atropine', 'Nil', 'Nil',
       'Nil', 'Propranolol', 'Nil', 'Nil', 'Propranolol', 'Propranolol',
       'Propranolol', 'Propranolol', 'Atropine', 'Nil', 'Nil', 'Atropine',
       'Atropine', 'Nil', 'Nil', 'Nil', 'Atropine', 'Nil', 'Nil', 'Nil',
       'Nil', 'Propranolol', 'Propranolol'], dtype=object)

In [10]:
# Print out the unique encoded values of the target variable
print("Encoded classes:", np.unique(y_train_encoded))

Encoded classes: [0 1 2]

In [11]:
# View the encoded classes
encoded_classes = label_encoder.classes_
print("Encoded classes:", encoded_classes)

Encoded classes: ['Atropine' 'Nil' 'Propranolol']

In [12]:
# Save the StandardScaler object
with open('Heart_Beat_Classification.pkl', 'wb') as file:
    pickle.dump(svm, file)