In [1]:
# Importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import joblib

In [2]:

data = pd.read_csv('SpO2_level.csv')

data

      id  height  weight  age Medication  Oxygen_level
0      0     168      62   50        Nil           100
1      1     156      85   45        Nil            99
2      2     165      64   49        Nil            98
3      3     169      82   52        Nil            97
4      4     156      56   53        Nil            96
..   ...     ...     ...  ...        ...           ...
194  264     162      62   40        Nil           104
195  265     174      88   47        Nil           105
196  267     176     108   38        Nil           103
197  271     171      71   41        Nil           102
198  272     183      85   59        Nil           100

[199 rows x 6 columns]

In [3]:
X=data[['Oxygen_level','age']]
X

     Oxygen_level  age
0             100   50
1              99   45
2              98   49
3              97   52
4              96   53
..            ...  ...
194           104   40
195           105   47
196           103   38
197           102   41
198           100   59

[199 rows x 2 columns]

In [4]:
Y=data[['Medication']]
Y

    Medication
0          Nil
1          Nil
2          Nil
3          Nil
4          Nil
..         ...
194        Nil
195        Nil
196        Nil
197        Nil
198        Nil

[199 rows x 1 columns]

In [5]:

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Standardize the features
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Encode the target variable
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

c:\Users\bhara\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\bhara\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [6]:
import pickle


# Save the StandardScaler object
with open('SpO2_scaler.pkl', 'wb') as file:
    pickle.dump(sc, file)

# Save the LabelEncoder object
with open('SpO2_label_encoder.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)

In [7]:
# Initialize the SVM classifier
svm = SVC(kernel='linear', C=1.0, random_state=42)

# Train the SVM classifier
svm.fit(X_train_std, y_train_encoded)

# Predict the labels of the test set
y_pred_encoded = svm.predict(X_test_std)

# Calculate accuracy
accuracy = accuracy_score(y_test_encoded, y_pred_encoded)
print("Accuracy:", accuracy)

Accuracy: 0.975

In [8]:
y_pred_encoded

array([2, 0, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2,
       2, 2, 2, 1, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [9]:
predicted_class_decoded = label_encoder.inverse_transform(y_pred_encoded)
predicted_class_decoded

array(['Nil', '2L/min', 'Nil', 'Nil', 'Nil', 'Nil', 'Nil', 'Nil',
       '2L/min', '2L/min', 'Nil', 'Nil', 'Nil', 'Nil', 'Nil', 'Nil',
       'Nil', 'Nil', 'Nil', 'Nil', '2L/min', 'Nil', 'Nil', 'Nil', 'Nil',
       '4L/min', 'Nil', 'Nil', '2L/min', 'Nil', 'Nil', 'Nil', 'Nil',
       'Nil', 'Nil', 'Nil', 'Nil', 'Nil', 'Nil', 'Nil'], dtype=object)

In [10]:
# Print out the unique encoded values of the target variable
print("Encoded classes:", np.unique(y_train_encoded))

Encoded classes: [0 1 2]

In [11]:
# View the encoded classes
encoded_classes = label_encoder.classes_
print("Encoded classes:", encoded_classes)

Encoded classes: ['2L/min' '4L/min' 'Nil']

In [12]:
with open('SpO2_Classification.pkl', 'wb') as file:
    pickle.dump(svm, file)